# Node.js
node_modules/
dist/
.env

# Vite
.vite/

# Docker
*.log
*.pid
*.tar


# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
terraform.tfvars
override.tf
override.tf.json
.terraform.lock.hcl

# VSCode
.vscode/

# Ignore backend config
backend.config